USE [master]
GO
/****** Object:  Database [customer]    Script Date: 5/20/2024 12:25:04 AM ******/
CREATE DATABASE [customer]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'customer_Data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQL11\MSSQL\DATA\customer.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'customer_Log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQL11\MSSQL\DATA\customer.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [customer].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [customer]
GO
/****** Object:  Table [dbo].[Table]    Script Date: 5/20/2024 12:25:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table](
	[name] [varchar](50) NOT NULL,
	[phone ] [varchar](50) NULL,
	[no] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
