USE [master]
GO
/****** Object:  Database [login]    Script Date: 5/20/2024 12:31:04 AM ******/
CREATE DATABASE [login]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'login_Data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQL11\MSSQL\DATA\login.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'login_Log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQL11\MSSQL\DATA\login.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [login].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [login]
GO
/****** Object:  Table [dbo].[Logintbl]    Script Date: 5/20/2024 12:31:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logintbl](
	[username ] [varchar](50) NOT NULL,
	[password ] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[username ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
