USE [master]
GO
/****** Object:  Database [pizzaorderdb]    Script Date: 5/20/2024 12:32:14 AM ******/
CREATE DATABASE [pizzaorderdb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'pizzaorderdb_Data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQL11\MSSQL\DATA\pizzaorderdb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'pizzaorderdb_Log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQL11\MSSQL\DATA\pizzaorderdb.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [pizzaorderdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [pizzaorderdb]
GO
/****** Object:  Table [dbo].[Pizzatbl]    Script Date: 5/20/2024 12:32:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pizzatbl](
	[item] [varchar](50) NOT NULL,
	[price] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
